###---> Common variables

COMPOSE_PROJECT_NAME="opentalk"
COMPOSE_PROFILES="core"

# Domain name on wich you want to access the frontend (e.g. "example.com")
OT_DOMAIN=""

# Generate and set your secrets here
POSTGRES_PASSWORD="<mydbpassword>"
KEYCLOAK_ADMIN_PASSWORD="<mykeycloakadminpassword>"
KEYCLOAK_CLIENT_SECRET_CONTROLLER="<mykeycloakclientsecretforcontroller>"
KEYCLOAK_CLIENT_SECRET_OBELISK="<mykeycloakclientsecretforobelisk>"
KEYCLOAK_CLIENT_SECRET_RECORDER="<mykeycloakclientsecretforrecorder>"
SPACEDECK_API_TOKEN="<myspacedeckapitoken>"
SPACEDECK_INVITE_CODE="<myspacedeckinvitecode>"
ETHERPAD_API_KEY="<myetherpadapikey>"

###<---

### Keycloak
# KC_REALM_NAME="opentalk"
# KC_REALM_ID="$KC_REALM_NAME"
# KC_DOMAIN="$OT_DOMAIN"
# KC_HOSTNAME="accounts.$OT_DOMAIN"
# KC_REALM_DISPLAYNAME="$OT_DOMAIN"
# KC_EXP_PORT=8087
# KEYCLOAK_ADMIN="admin"
# KC_HOST_DATA_DIR="./data/kc_data"
# KC_HOST_POVIDER_DIR="./data/kc_provider"
# KC_IMAGE_TAG="20.0.0"
# KC_SPI_TRUSTSTORE_FILE_FILE="/opt/keycloak/cacerts"
# KC_SPI_TRUSTSTORE_FILE_PASSWORD="changeit"
# KC_HTTP_RELATIVE_PATH="/auth"
# KC_PROXY="edge"

### PostgreSQL 
# POSTGRES_DB="opentalk"
# POSTGRES_USER="ot"
# POSTGRES_HOST="localhost"
# POSTGRES_IMAGE_TAG=13-alpine
# POSTGRES_HOST_DATA_DIR="./data/pg_data"
# POSTGRES_PORT="5432"
# POSTGRES_EXP_PORT="5432"
# POSTGRES_MAX_CONNECTIONS="100"

### autoheal
# AUTOHEAL_IMAGE_TAG="latest"

### RabbitMQ
# RABBITMQ_IMAGE_TAG=3.10-management-alpine
# RABBITMQ_EXP_NODE_PORT="5672"
# RABBITMQ_EXP_UI_PORT="15672"

### Redis
# REDIS_IMAGE_TAG="alpine"
# REDIS_EXP_PORT="6379"

### OpenTalk - web-frontend
# OT_FRONTEND_IMAGE_SRC=git.opentalk.dev:5050/opentalk/frontend/web/web-app
# OT_FRONTEND_IMAGE_TAG="v1"
# OT_FRONTEND_EXP_PORT="8080"
# OIDC_CLIENT_ID="OtFrontend"
# NDT_SERVER="ndt.example.com"
# ERROR_REPORT_ADDRESS="reports@example.com"
# LIBRAVATAR_DEFAULT_IMAGE="identicon"
# IS_BETA_RELEASE="false"
# FEATURE_USER_SEARCH="true"
# FEATURE_TIMER="true"
# FEATURE_WHITEBOARD="true"
# FEATURE_PROTOCOL="true"
# FEATURE_RECORDING="false"


### OpenTalk - Controller
# OPENTALK_CONTAINER_IMAGE_SRC=git.opentalk.dev:5050/opentalk/backend/services/controller-enterprise
# OPENTALK_CONTAINER_IMAGE_TAG="v0.1"
# OPENTALK_CONTAINER_EXP_PORT="8090"
# OPENTALK_CONTAINER_CONFIG_FILE="./config/controller.toml"
# KC_CLIENT_ID="OtBackend"
# OPENTALK_CTRL_DATABASE__URL="postgres://postgres:password123@localhost:5432/opentalk"
# OPENTALK_CTRL_DATABASE__MAX_CONNECTIONS="100"
# OPENTALK_CTRL_HTTP__PORT="11311"
OPENTALK_CTRL_KEYCLOAK__BASE_URL="https://accounts.$OT_DOMAIN/auth"
# OPENTALK_CTRL_KEYCLOAK__REALM="$KC_REALM_NAME"
# OPENTALK_CTRL_KEYCLOAK__CLIENT_ID="OtBackend"
OPENTALK_CTRL_KEYCLOAK__CLIENT_SECRET="$KEYCLOAK_CLIENT_SECRET_CONTROLLER"
# OPENTALK_CTRL_ROOM_SERVER__MAX_VIDEO_BITRATE="1500000"
# OPENTALK_CTRL_ROOM_SERVER__MAX_SCREEN_BITRATE="8000000"
# OPENTALK_CTRL_ROOM_SERVER_CONNECTIONS__TO_ROUTING_KEY="to-janus"
# OPENTALK_CTRL_ROOM_SERVER_CONNECTIONS__EXCHANGE: "janus-exchange"
# OPENTALK_CTRL_ROOM_SERVER_CONNECTIONS__FROM_ROUTING_KEY="from-janus"
# OPENTALK_CTRL_RABBIT_MQ__URL="amqp://guest:guest@rabbit/%2F"
# OPENTALK_CTRL_RABBIT_MQ__MAIL_TASK_QUEUE="opentalk_mailer"
# OPENTALK_CTRL_RABBIT_MQ__RECORDING_TASK_QUEUE="opentalk_recorder"
# OPENTALK_CTRL_REDIS__URL="redis://redis:6379/"
# OPENTALK_CTRL_MINIO__URI="http://minio:9000"
# OPENTALK_CTRL_MINIO__BUCKET="s3_bucket"
# OPENTALK_CTRL_MINIO__ACCESS_KEY="minioadmin"
# OPENTALK_CTRL_MINIO__SECRET_KEY="minioadmin"
# OPENTALK_CTRL_TURN__LIFETIME="86400"
# OPENTALK_CTRL_TURN__PRE_SHARED_KEY=""
# OPENTALK_CTRL_TURN__URIS='["turn:127.0.0.1:3478?transport=udp", "turn:127.0.0.1:3478?transport=tcp", "turns:127.0.0.1:5349?transport=tcp"]'
# OPENTALK_CTRL_STUN__URIS='["stun:127.0.0.1:3478"]'
# OPENTALK_CTRL_AUTHZ__RELOAD_INTERVAL="10"
# OPENTALK_CTRL_CALL_IN__TEL="01234567890"
# OPENTALK_CTRL_CALL_IN__ENABLE_PHONE_MAPPING="false"
# OPENTALK_CTRL_CALL_IN__DEFAULT_COUNTRY_CODE="DE"
# OPENTALK_CTRL_ETHERPAD__URL="http://localhost:9001"
# OPENTALK_CTRL_ETHERPAD__API_KEY="secret"
# OPENTALK_CTRL_SPACEDECK__URL="http://localhost:9666"
# OPENTALK_CTRL_SPACEDECK__API_KEY="secret"
# OPENTALK_CTRL_SHARED_FOLDER__PROVIDER="nextcloud"
# OPENTALK_CTRL_SHARED_FOLDER__URL="https://nextcloud.example.org/"
# OPENTALK_CTRL_SHARED_FOLDER__USERNAME="ncuser"
# OPENTALK_CTRL_SHARED_FOLDER__PASSWORD="v3rys3cr3t"
# OPENTALK_CTRL_SHARED_FOLDER__DIRECTORY="opentalk/meetings"
# OPENTALK_CTRL_SHARED_FOLDER__EXPIRY="48"

### minio
# MINIO_ROOT_USER=minioadmin
# MINIO_ROOT_PASSWORD=minioadmin

### Janus
# JANUS_IMAGE_SRC=""git.opentalk.dev:5050/opentalk/backend/containers/janus-gateway"
# JANUS_IMAGE_TAG="latest"
# JANUS_WAITTIMEOUT="30"
# JANUS_DISABLE_WEBSOCKET="true"
# JANUS_DISABLE_HTTP="true"
# JANUS_RABBITMQ_HOST="127.0.0.1"
# JANUS_RABBITMQ_PORT="5672"
# JANUS_EXCHANGE="janus-exchange"
# JANUS_QUEUE_NAME="janus-gateway"
# JANUS_EXCHANGE_TYPE="topic"
# JANUS_QUEUE_INCOMING="to-janus"
# JANUS_ROUTING_KEY_OUTGOING="from-janus"
# JANUS_ICE_IF="eth0"
# JANUS_UDP_PORT_RANGE="20000-25000"
# JANUS_ICE_LITE="true"
# JANUS_EVENT_LOOPS="32"
# JANUS_IGNORE_MDNS="true"

### OpenTalk - Obelisk
# OT_OBELISK_IMAGE_SRC="git.opentalk.dev:5050/opentalk/backend/services/obelisk
# OT_OBELISK_IMAGE_TAG=latest
# OT_OBELISK_CONFIG_FILE="./config/obelisk.toml"
# RUST_LOG: info
# GST_DEBUG: 2
# CONTROLLER_DOMAIN="controller.$OT_DOMAIN"
# SIP_ADDR="0.0.0.0"
# SIP_PORT="5060"
# SIP_USER="mysipuser"
# SIP_PASSWORD="mysippw"
# SIP_REALM="SIP_REALM"
# SIP_REGISTRAR="sip:yoursipprovider.com"
# SIP_STUN_SERVER="stun.yoursipprovider.com:3478"
# SIP_ENFORCE_QOP="true"
# SIP_RTP_PORT_RANGE_START="40000"
# SIP_RTP_PORT_RANGE_END="49999"

### OpenTalk - mail-worker
# OT_MAIL_WORKER_IMAGE_SRC="git.opentalk.dev:5050/opentalk/backend/services/smtp-mailer
# OT_MAIL_WORKER_IMAGE_TAG=latest
# OT_MAIL_WORKER_CONFIG_FILE="./config/mail-worker.toml"
# RUST_LOG="" ${RUST_LOG:-info}
# SMTP_SERVER=""
# FRONTEND_BASE_URL="https://$OT_DOMAIN"
# LANGUAGES_DEFAULT_LANGUAGE="de-DE"
# RABBITMQ_MAIL_TASK_QUEUE="opentalk_mailer"
# RABBITMQ_URL="amqp://rabbit/%2F"

### OpenTalk - Recorder
# RECORDER_IMAGE_SRC: "git.opentalk.dev:5050/opentalk/backend/services/recorder"
# RECORDER_IMAGE_TAG: "latest"
# RECORDER_CONFIG_FILE: "./config/recorder.toml"

### spacedeck
# SD_IMAGE_SRC=git.opentalk.dev:5050/opentalk//backend/containers/spacedeck
# SD_IMAGE_TAG=latest
# SD_HOST=0.0.0.0
# SD_PORT=9666
# SD_EXP_PORT=9666
SD_ENDPOINT="https://whiteboard.$OT_DOMAIN"
SD_API_TOKEN=$SPACEDECK_API_TOKEN
SD_INVITE_CODE=$SPACEDECK_INVITE_CODE

### etherpad
# EP_IMAGE_SRC=git.opentalk.dev:5050/opentalk/backend/containers/etherpad
# EP_IMAGE_TAG=latest
EP_ENDPOINT="https://pad.$OT_DOMAIN"
EP_APIKEY=$ETHERPAD_API_KEY
# TRUST_PROXY=true
# EP_PORT=9001
# EP_EXP_PORT=9001
# DEFAULT_PAD_TEXT="Welcome to OpenTalk"
# SUPPRESS_ERRORS_IN_PAD_TEXT="true"