###---> Common variables
# Domain name on wich you want to access the frontend
OT_DOMAIN="opentalk.example.com"
POSTGRES_PASSWORD="<mydbpassword>"
KEYCLOAK_ADMIN_PASSWORD="<mykeycloakadminpassword>"
KC_CLIENT_SECRET="<mykeycloakclientsecret>"
# If janus is running in "docker host mode" it needs a local host interface for rabbitmq to connect.
# !!! DO NOT USE YOUR PUBLIC IP ADRESS !!!
RABBITMQ_HOST="10.20.30.40"
###<---

COMPOSE_PROJECT_NAME="opentalk"
COMPOSE_PROFILES="core"

### Keycloak
# KC_REALM_NAME="$opentalk"
# KC_REALM_ID="$KC_REALM_NAME"
# KC_DOMAIN="$OT_DOMAIN"
# KC_HOSTNAME="accounts.$OT_DOMAIN"
# KC_REALM_DISPLAYNAME="$OT_DOMAIN"
# KC_EXP_PORT=8088
# KEYCLOAK_ADMIN="admin"
# KC_HOST_DATA_DIR="./data/kc_data"
# KC_HOST_POVIDER_DIR="./data/kc_provider"
# KC_IMAGE_TAG="20.0.0"
# KC_SPI_TRUSTSTORE_FILE_FILE="/opt/keycloak/cacerts"
# KC_SPI_TRUSTSTORE_FILE_PASSWORD="changeit"
# KC_HTTP_RELATIVE_PATH="/auth"
# KC_PROXY="edge"

### PostgreSQL 
# POSTGRES_DB="k3k"
# POSTGRES_USER="ot"
# POSTGRES_PASSWORD="<mydbpassword>"
# POSTGRES_IMAGE_TAG=postgres:13-alpine
# POSTGRES_HOST_DATA_DIR="./data/pg_data"
# POSTGRES_EXP_PORT="5432"

### autoheal
# AUTOHEAL_IMAGE_TAG="latest"

### RabbitMQ
# RABBITMQ_IMAGE_TAG=3.10-management-alpine
# RABBITMQ_EXP_NODE_PORT="5673"
# RABBITMQ_EXP_UI_PORT="15672"

### Redis
# REDIS_IMAGE_TAG="alpine"
# REDIS_EXP_PORT="6379"

### OpenTalk WEB frontend
# OT_FRONTEND_IMAGE_TAG="1.0.7"
# OT_FRONTEND_EXP_PORT="8081"
# OIDC_CLIENT_ID="OtFrontend"
# NDT_SERVER="ndt.example.com"
# ERROR_REPORT_ADDRESS="reports@example.com"
# LIBRAVATAR_DEFAULT_IMAGE="identicon"
# IS_BETA_RELEASE="false"
# FEATURE_USER_SEARCH="false"
# FEATURE_TIMER="true"

### Controller
# OT_CONTROLLER_IMAGE_TAG="v1.0.0-rc.10"
# OT_CONTROLLER_EXP_PORT="8091"
# OT_CONTROLLER_CONFIG_FILE="./config/controller.toml"
# KC_CLIENT_ID="OtBackend"
# KC_CLIENT_SECRET="<mykeycloakclientsecret>"

### Janus
# JANUS_IMAGE_TAG="0.12"
# WAITTIMEOUT="30"
# RABBITMQ_HOST="10.20.30.40"
# RABBITMQ_PORT="5672"
# JANUS_DISABLE_WEBSOCKET="true"
# JANUS_DISABLE_HTTP="true"
# JANUS_EXCHANGE="janus-exchange"
# JANUS_QUEUE_NAME="janus-gateway"
# JANUS_EXCHANGE_TYPE="topic"
# JANUS_QUEUE_INCOMING="to-janus"
# JANUS_ROUTING_KEY_OUTGOING="from-janus"
# JANUS_ICE_IF="eth0"
# JANUS_UDP_PORT_RANGE="20000-25000"
# JANUS_ICE_LITE="true"
# JANUS_EVENT_LOOPS="32"
# JANUS_IGNORE_MDNS="true"

### Obelisk
# OT_OBELISK_IMAGE_TAG=v1.0.0-rc.3
# OT_OBELISK_CONFIG_FILE="./config/obelisk.toml"
# RUST_LOG: info
# GST_DEBUG: 2
# CONTROLLER_DOMAIN="controller.$OT_DOMAIN"
# SIP_ADDR="0.0.0.0"
# SIP_PORT="5060"
# SIP_USER="mysipuser"
# SIP_PASSWORD="mysippw"
# SIP_REALM="SIP_REALM"
# SIP_REGISTRAR="sip:yoursipprovider.com"
# SIP_STUN_SERVER="stun.yoursipprovider.com:3478"
# SIP_ENFORCE_QOP="true"
# SIP_RTP_PORT_RANGE_START="40000"
# SIP_RTP_PORT_RANGE_END="49999"

### mail-worker
# OT_MAIL_WORKER_IMAGE_TAG=v1.0.0-rc.3
# OT_MAIL_WORKER_CONFIG_FILE="./config/mail-worker.toml"
# RUST_LOG="" ${RUST_LOG:-info}
# SMTP_SERVER=""
# FRONTEND_BASE_URL="https://$OT_DOMAIN"
# LANGUAGES_DEFAULT_LANGUAGE="de-DE"
# RABBITMQ_MAIL_TASK_QUEUE="opentalk_mailer"
# RABBITMQ_URL="amqp://rabbit/%2F}"

### spacedeck
# SD_IMAGE_TAG=latest
# SD_HOST=0.0.0.0
# SD_PORT=9666
# SD_EXT_PORT=9666
# SD_ENDPOINT=
# SD_API_TOKEN=
# SD_INVITE_CODE=

### etherpad
# EP_IMAGE_TAG=latest
# EP_APIKEY=
# TRUST_PROXY=true
# EP_PORT=9001
# EP_EXT_PORT=9001