[database]
url = "postgres://ot:<MyPostgresPW>@postgres:5432/k3k"

[http]
port = 11311
cors.allowed_origin = ["https://<MyOtDomain>"]

[keycloak]
base_url = "https://accounts.<MyOtDomain>/auth"
realm = "opentalk"
client_id = "OtBackend"
client_secret = "<MyKcClientSecret>"

[room_server]
max_video_bitrate = "1600000"
max_screen_bitrate = "8000000"

[[room_server.connections]]
to_routing_key = "to-janus"
exchange = "janus-exchange"
from_routing_key = "from-janus"

[rabbit_mq]
url = "amqp://rabbit/%2F"
mail_task_queue = "opentalk_mailer"
recording_task_queue = "opentalk_recorder"

[redis]
url = "redis://redis:6379/"

[minio]
uri = "http://minio:9000"
bucket = "s3_bucket"
access_key = "minioadmin"
secret_key = "minioadmin"

