# SPDX-FileCopyrightText: OpenTalk GmbH <mail@opentalk.eu>
#
# SPDX-License-Identifier: EUPL-1.2

# Obelisk OIDC authentication
#
# The Client requires a service account with the `opentalk-call-in` realm-role set.
[auth]
# OIDC issuer url
issuer = "http://localhost/auth/realms/Example"
# OIDC client ID
client_id = "Obelisk"
# OIDC client secret
client_secret = "obeliskclientsecret"

[controller]
# host-port of the controller
domain = "localhost:8000"

# Optional flag to use http/ws instead of their TLS counterparts
#insecure = false

[sip]

# Local IP address to bind to (0.0.0.0 binds to every address)
addr = "0.0.0.0"

# Port to bind to (5060 is SIP default)
port = 5060

# ID of this SIP endpoint
# When not set, it is generated as sip:<username>@<addr> where `addr` may be replaced by the
# public address discovered using the stun-server
#id = "sip:alice@example.org"

# Username/Password pair.
# Usually provided by the SIP provider
username = "alice"
password = "mysecurepassword"

# Realm of the given username/password pair
realm = "example.org"

# SIP URI of the registrar 
registrar = "sip:example.org"

# Seconds between ping/pong to keep NAT binding alive
#nat_ping_delta = 30

# Host-port of the stun server used for SIP
stun_server = "stun.example.org:3478"

# Enforce quality of protection on SIP authentication
# (reuse of nonce + nonce-count instead of
#  requesting a new nonce for each request) 
# 
# Can cause compatibility issues on older registrars.
enforce_qop = true

# The port range for the SIP RTP/RTCP connections (inclusive).
#
# Defaults to 40000 - 49999
[sip.rtp_port_range]
start = 40000
end = 49999